.form_container{
  margin: auto;
  width: 30%; 
  border:2px solid black;
  padding:20px;
}
.title{
  text-align:left;
  width:90%;
  margin-left:10px;
}
.input_container{
  flex: true;
  flex-direction: column;
  min-width: 120;
}
.input_item{
  margin-top: 15px;
  border: 0;
}
.input_content{
  border: 2;
  border-color: black;
  height: 30px;
  margin-top:15px;
  width:90%;
  min-width: 120px;
}

.submit_button{
  margin-top: 15px;
  width:92%;
  height:30px;
  border-radius: 6px;
  background-color:skyblue;
  font-weight: bold;
  border:0;
}

.error{
  background-color: rgb(239, 181, 181);
  color:red;
  margin-top: 15px;
  margin-left:12px;
  padding-left:8px; 
  width:90%;
  min-height:30px;
  font-weight: bold;
  font-size:10px;
  text-align: left;
}

.error p{
   line-height: 30px;
}
